<html>
<head>

</head>
<body>
  <h1>ADD MEDICINE</h1>
  <form method='POST' action='/articles/add'>
      <label for='title'>TITLE:</label>
      <input name='title' type='text' required><br>
      <label for='stock'>STOCK:</label>
      <input name='stock' type='text' required><br>
      <label for='expiry'>EXPIRY DATE:</label>
      <input name='expiry' type='text' required><br>
      <label for='precno'>PRESCRIPTION NO:</label>
      <input name='precno' type='text' required><br>
    <input type='submit' value='SUBMIT'>
  </form>
</body>
</html>
