
<!DOCTYPE html>
<html>
<head>
<title>Staff Exchange</title>

<!--Custom Theme files-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Register Login Widget template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login Signup Responsive web template, SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script type="text/javascript" src="/js/index.js"></script>
<!-- Custom Theme files -->
<link href="/css/style0.css" rel="stylesheet" type="text/css" media="all" />
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
</head>
<body style="    background:#0a4981;">
  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="/" style="font-size:32px">ASAP</a>
          </div>
          <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/staff">Doctor</a></li>
              <li  class="active"><a href="/exchange"> Staff Exchange</a></li>
              <li><a href="/medicine">Medicine Hub</a></li>
              <li><a href="/record">Record Keeping</a></li>
              <li><a href="/AmbulanceGo">AmbulanceGo</a></li>
              <li><a href="/complain">Feedback</a></li>
              <li><a href="/review">Reviews</a></li>
          </ul>
          </ul>
      </div>
  </nav>
	<h1>Staff Exchange </h1>
	<!-- main -->
	<div class="main">
		<!--login-profile-->

		<!--login-profile-->
		<!--signin-form-->
		<div class="w3">
            <div class="signin-form profile" style="width:300px; height:3oopx">
				<h3>Check Requirements</h3>

				<div class="login-form">
					<form action="/requirement" method="GET">

							<input type="submit" value="Requirements">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="agile">
			<div class="signin-form profile" style="width:300px; height:3oopx">
				<h3>Check Availability</h3>

				<div class="login-form">
					<form action="/availability" method="GET">

						<input type="submit" value="Availability">
					</form>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<!--//signin-form-->
	</div>

</body>
</html>
