<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Register Login Widget template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login Signup Responsive web template, SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- Custom Theme files -->
    <link href="/css/style1.css" rel="stylesheet" type="text/css" media="all" />
    <!--web-fonts-->
    <link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
    <!-- favicons
      ================================================== -->
    <link rel="shortcut icon" href="ASAP.ico" type="image/x-icon">
    <link rel="icon" href="ASAP.ico" type="image/x-icon">
    <style>
        .navbar{
          overflow: hidden;
          background-color: #333 !important;
          top: 0; /* Position the navbar at the top of the page */
          width: 100%; /* Full width */
      	box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
      }
      .navbar a:hover{
      color: green !important;
      font-size: 1.5em;
      }

      </style>

</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="font-size:32px">ASAP</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/staff">Doctor</a></li>
                <li><a href="/exchange"> Staff Exchange</a></li>
                <li><a href="/medicine">Medicine Hub</a></li>
                <li><a href="/record">Issue Record</a></li>
                <li><a href="/AmbulanceGo">AmbulanceGo</a></li>
                <li class="active"><a href="/feedback">Feedback</a></li>
                <li><a href="/review">Reviews</a></li>
            </ul>
        </div>
    </nav>
    <h1>Public Health Center Complain Filing Portal</h1>
    <div style="text-align:center;border:2px solid black;padding:20px;width:60%;margin:5% auto;  box-shadow: 5px 5px 10px hsl(0, 0%, 80%);
">

        <form action="/feedback" method="post">
            <label for="bedno" style="color:ghostwhite; padding:10px; font-size:1.5em;">Bed No:</label><br><br>
            <input type="text" id="bed" name="bedno" class="form-control cmp" style="width:70%;margin:0 auto;height:5%;color:black;"><br><br>
            <label for="feedback" style="color:ghostwhite; padding:10px; font-size:1.5em;">Type Your Feedback Below:</label><br><br>
            <textarea class="form-control cmp" style="width:70%;margin:0 auto;height: 10%;"  id="complain" name="feedback" style="color:black;"></textarea>
            <br><br>
            <button type="submit" class="btn btn-success" style="background:green;">Submit</button> </form>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
    <script type="text/javascript" src="index.js"></script>
</body>

</html>