<html>
    <head>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="ASAP.ico" type="image/x-icon">
    <link rel="icon" href="ASAP.ico" type="image/x-icon">
    </head>
    <body>
        <p> Copyright &copy; 2018,All Rights Reserve </p>
    </body>
</html>
