
<!DOCTYPE html>
<html>
<head>
<title>Register Login with Authentication</title>
<!--Custom Theme files-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Register Login Widget template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login Signup Responsive web template, SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- Custom Theme files -->
<link href="/css/style1.css" rel="stylesheet" type="text/css" media="all" />
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
<!--//web-fonts-->

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="ASAP.ico" type="image/x-icon">
	<link rel="icon" href="ASAP.ico" type="image/x-icon">

</head>
<body style="    background:#0a4981;">
	<h1>Staff Authentication 🚀 </h1>
	<!-- main -->
	<div class="main">
		<!--login-profile-->

		<!--login-profile-->
		<!--signin-form-->
		<div class="w3">
			<div class="signin-form profile">
				<h3>Login</h3>

				<div class="login-form">
					<form action="/loginstaff" method="post">
						<input type="text" name="logstaffId" placeholder="Staff Id" required="">
						<input type="password" name="logpassword" placeholder="Password" required="">
						<div class="tp">
							<input type="submit" value="LOGIN NOW">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="agile">
			<div class="signin-form profile">
				<h3>Register</h3>

				<div class="login-form">
					<form action="/loginstaff" method="post">
						<input type="text" name="staffId" placeholder="StaffId" required="">
						<input type="text" name="username" placeholder="Username" required="">
						<input type="password" name="password" placeholder="Password" required="">
						<input type="password" name="passwordConf" placeholder="Confirm Password" required="">
						<input type="submit" value="REGISTER">
					</form>
				</div>
				<p><a href="#"> By clicking register, I agree to your terms</a></p>
			</div>
		</div>
		<div class="clear"></div>
		<!--//signin-form-->
	</div>

</body>
</html>
