<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
<style>
table, th, td {
    border: 6px solid black;
    padding: 10px;
}
table {
    border-spacing: 30px;
}
</style>
</head>
<body>

  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="/" style="font-size:32px">ASAP</a>
          </div>
          <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/staff">Doctor</a></li>
              <li><a href="/exchange"> Staff Exchange</a></li>
              <li class="active"><a href="/medicine">Medicine Hub</a></li>
              <li><a href="/record">Record Keeping</a></li>
              <li><a href="/AmbulanceGo">AmbulanceGo</a></li>
              <li><a href="/complain">Feedback</a></li>
              <li><a href="/review">Reviews</a></li>
          </ul>
      </div>
  </nav>

<table style="width:100%">
  <tr>
    <th><b>Medicine Name</b></th>
    <th><b>Count</b></th>
  </tr>
  <tr>
    <td>O2</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Paracetamol</td>
    <td>94</td>
  </tr>
  <tr>
    <td>Quinine</td>
    <td>80</td>
  </tr>
</table>

</body>
</html>
