<html>
<head>
    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="ASAP.ico" type="image/x-icon">
    <link rel="icon" href="ASAP.ico" type="image/x-icon"></head>
<body>
    <div style="text-align:center;">
        <%if(type == "error"){%>
        <h3 style="color:red">
            <%message%>
        </h3>
        <%}%>
        <%if(type == "success"){%>
        <h3>New person,</h3>
        <b>Patient ID:</b>
        <% patient.body.patientid %>
        <p> with </p>
        <b>Bill No:</b>
        <% patient.body.billno %>
        <p>,</p>
        <b>Report</b>
        <% patient.file.filename %>
        <p>added!</p>
        <%}%>
    </div>
</body>

</html>
