<html>

<body>
    <form action="/fileupload" method="post" enctype="multipart/form-data">
        <input type="file" name="filetoupload"><br>
        <label for="filetoupload"></label>
        <input type="submit">
    </form>
    <script type="text/javascript" src="fileupload.js"></script>
</body>

</html>