<html>

<body>
    <form action="/login" method="post" id="loginform">
        <label for="user">UserId</label>
        <input type="text" name="user" id="user"><br>
        <label for="pass">Password</label>
        <input type="text" name="user" id="pass"><br>
        <input type="submit">
    </form>
    <script type="text/javascript" src="index.js"></script>
</body>

</html>