<html>

<body>
    <div style="text-align:center;">
        <form action="/login" method="post" id="loginform">
            <label for="user">UserId</label><br><br>
            <input type="text" name="user" id="user"><br><br>
            <label for="pass">Password</label><br><br>
            <input type="password" name="user" id="pass"><br><br>
            <input type="submit">
        </form>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
    <script type="text/javascript" src="javascript/index.js"></script>
</body>

</html>