<html>

<body>
    <div style="text-align:center;">
        <form action="/reportupload" method="post" enctype="multipart/form-data">
            <label for="patientid">PatientID:</label>
            <input type="text" name="patientid"><br>
            <label for="billno">BillNO:</label>
            <input type="text" name="billno"><br>
            <input type="file" name="filetoupload"><br>
            <label for="filetoupload"></label>
            <input type="submit">
        </form>
    </div>
</body>

</html>