<html>

<body>
    <form action="/reportupload" method="post" enctype="multipart/form-data">
        <label for="patientid">PatientID:</label>
        <input type="text" name="patientid"><br>
        <label for="billno">BillNO:</label>
        <input type="text" name="billno"><br>
        <input type="file" name="filetoupload"><br>
        <label for="filetoupload"></label>
        <input type="submit">
    </form>
</body>

</html>