<html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="css/style.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Register Login Widget template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login Signup Responsive web template, SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- Custom Theme files -->
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
<!-- favicons
  ================================================== -->
<link rel="shortcut icon" href="ASAP.ico" type="image/x-icon">
<link rel="icon" href="ASAP.ico" type="image/x-icon">
<style>
    .navbar{
      overflow: hidden;
      background-color: #333 !important;
      top: 0; /* Position the navbar at the top of the page */
      width: 100%; /* Full width */
    box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
  }
  .navbar a:hover{
  color: green !important;
  font-size: 1.5em;
  }
  body {
            background: rgb(2, 0, 36);
            background: linear-gradient(90deg, rgba(2, 0, 36, 0.9750062749626931) 0%, rgba(9, 9, 121, 0.8879276232772999) 35%, rgba(0, 212, 255, 1) 100%);

        }

  </style>

</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="font-size:32px">ASAP</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/staff">Doctor</a></li>
                <li><a href="/exchange"> Staff Exchange</a></li>
                <li><a href="/medicine">Medicine Hub</a></li>
                <li class="active"><a href="/record">Issue Record</a></li>
                <li><a href="/AmbulanceGo">AmbulanceGo</a></li>
                <li><a href="/feedback">Feedback</a></li>
                <li><a href="/review">Reviews</a></li>
            </ul>
        </div>
    </nav>
    <h1 style="font-size:3em;color:white;padding-bottom:2%;padding-top: 2%;">Upload Reports</h1>
<hr>
    <div style="text-align:center;box-shadow:5px 10px black;border: 2px blue solid;width:40%;margin: 6% auto;padding: 3%;">
        <form action="/reportupload" method="post" enctype="multipart/form-data">
            <div class="form-group">
            <label for="patientid" style="color:ghostwhite; padding:10px; font-size:1.5em;">PatientID:</label>
            <input type="text" class="form-control" style="width:70%;margin:0 auto" name="patientid"><br>
            </div>
            <div class="form-group">
            <label for="billno" style="color:ghostwhite; padding:10px; font-size:1.5em;">BillNO:</label>
            <input type="text" class="form-control" style="width:70%;margin:0 auto" name="billno"><br>
            </div>
            <input type="file" style=" padding:10px; font-size:1.5em;" name="report"><br>
            <label style="text-align: center" style="color:ghostwhite; padding:10px; font-size:1.5em;" for="filetoupload"></label>
            <input class="btn btn-success" type="submit">
        </form>
    </div>
</body>

</html>